[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyreadline3 = "*"
pyperclip = "*"
py-yt-search = ">=0.5.7"
yt-dlp = "*"
colorama = "*"
pylast = "*"

[dev-packages]

[requires]
python_version = "3.11"
